<div class="mb-4">
    <h5 class="inicio">Inicio</h5>
</div>
<div class="cards d-flex justify-content-between">
    <div class="card carta1 rounded-5" >
        <div class="card-body">
            <div class="saldo">
                <p>Mi saldo</p>
                <h5>${{ tarjetaData.saldo | number:'1.0-0' }}</h5>
            </div>
            <div class="tarjeta">
                <p>⦁⦁⦁⦁ ⦁⦁⦁⦁ ⦁⦁⦁⦁ <b>{{ tarjetaData.cardNumber }}</b></p>
            </div>
            <div class="titular-valida">
                <div class="titular">
                  <p>Titular Tarjeta</p>
                  <p><b>{{ tarjetaData.nombre }}</b></p>
                </div>
                <div class="valida">
                  <p>Valida hasta</p>
                  <p><b>{{ tarjetaData.fecha }}</b></p>
                </div>
              </div>
        </div>
    </div>

    <div class="card carta2 rounded-5">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="d-flex direction">
                    <div class="pt-4 ps-3">
                        <i class='bx bx-left-down-arrow-circle p-3 rounded-5'></i>
                    </div>
                    <div class="pt-4 ps-3">
                        <p class="mb-0 card-text">Ingresos</p>
                        <h5>${{ tarjetaData.ingresos | number:'1.0-0' }}</h5>
                    </div>
                </div>
                <div class="pt-2 ps-3">
                    <div class="ms-4 ing">
                        <i class='bx bxs-up-arrow ingresosP'></i>
                        <p class="mb-0">+{{ tarjetaData.ingresosPorcentaje }}%</p>
                    </div>
                    <p class="card-text">Mes pasado</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card carta2 rounded-5">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="d-flex direction">
                    <div class="pt-4 ps-3">
                        <i class='bx bx-right-top-arrow-circle p-3 rounded-5'></i>
                    </div>
                    <div class="pt-4 ps-3">
                        <p class="mb-0 card-text">Egresos</p>
                        <h5>${{ tarjetaData.egresos | number:'1.0-0'}}</h5>
                    </div>
                </div>
                <div class="pt-2 ps-3">
                    <div class="ms-4 egr">
                        <i class='bx bxs-down-arrow ingresosP'></i>
                        <p class="mb-0">-{{ tarjetaData.egresosPorcentaje }}%</p>
                    </div>
                    <p class="card-text">Mes pasado</p>
                </div>
            </div>
        </div>
    </div>


