<h5>Inicio</h5>
<div class="d-flex justify-content-between">
    <div class="card carta1">
        <div class="card-body">
            <div>
                <p>Mi saldo</p>
                <h5>$12,345,789</h5>
            </div>
            <p>.... .... .... 3245</p>
            <div>
                <p>Titular Tarjeta</p>
                <p>Nombre</p>
            </div>
            <div>
                <p>Valida hasta</p>
                <p>03/25</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

        </div>
    </div>

    <div class="card">
        <div class="card-body">

        </div>
    </div>
</div>