<div class="inicio">
    <h5>Inicio</h5>
</div>
<div class="d-flex">
    <div class="card carta1 rounded-5">
        <div class="card-body">
            <div class="saldo">
                <p>Mi saldo</p>
                <h5>{{ tarjetaData.saldo }}</h5>
            </div>
            <div class="tarjeta">
                <p>.... .... .... {{ tarjetaData.cardNumber }}</p>
            </div>
            <div class="titular-valida">
                <div class="titular">
                  <p>Titular Tarjeta</p>
                  <p>Nombre</p>
                </div>
                <div class="valida">
                  <p>Valida hasta</p>
                  <p>{{ tarjetaData.fecha }}</p>
                </div>
              </div>
        </div>
    </div>

    <div class="card carta2 rounded-5">
        <div class="card-body">
            
        </div>
    </div>

    <div class="card carta3 rounded-5">
        <div class="card-body">

        </div>
    </div>
</div>