.background {
  background: rgb(240, 236, 236);
}

.sidebar-container {
    display: flex;
  }
  
  .sidebar-container > div {
    flex: 1; 
}

.content {
  display: flex; 
}

app-balance,
app-transaccion {
  flex: 1;
  margin: 10px; 
}

