
.background {
  background: #f5f5f5;
}

.sidebar-container {
    display: flex;
  }
  
  .sidebar-container > div {
    flex: 1; 
}

.content {
  display: flex; 
  justify-content: space-between;
}

app-balance,
app-transaccion {
  flex: 1 !important;
  margin: 10px; 
  min-width: 0; /* Asegura que el contenido puede reducirse si es necesario */
  display: flex; /* Para garantizar que el contenido se expanda correctamente */
  flex-direction: column; 
}


