<div class="imagen-izquierda">
    <p class="bienvenidos">Bienvenidos</p>
</div>
<div class="imagen-derecha">
    <div class="login-container">
        <form action="">
            <label for="email">Correo Electronico:</label>
            <input type="email" name="email" id="email" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" id="password" required>
            <button type="submit">Ingresar</button>
        </form>
    </div>
    <p class="registrate">¿No tienes una cuenta?<a routerLink="/signup">Registrate aquí</a></p>
</div>

