<div class="sidebar">
    <ul>
      <li><i class='bx bx-home'></i><a routerLink="/inicio">Inicio</a></li>
      <li><i class='bx bxs-credit-card' ></i><a routerLink="/perfil">Tarjetas</a></li>
      <li><i class='bx bx-money' ></i><a routerLink="/configuracion">Prestamos</a></li>
      <li><i class='bx bxs-briefcase-alt-2'></i><a routerLink="/inicio">Operacopmes</a></li>
      <li><i class='bx bx-file-blank'></i><a routerLink="/perfil">Te Ofrecemos</a></li>
      <li><i class='bx bxs-shield-alt-2'></i><a routerLink="/configuracion">Seguros</a></li>
      <li><i class='bx bxs-gift' ></i><a routerLink="/inicio">Puntos</a></li>
      <li><i class='bx bxs-help-circle' ></i><a routerLink="/perfil">Ayuda</a></li>
      <li><i class='bx bx-log-out'></i><a routerLink="/signin" (click)="authService.logOut()">Cerrar Sesión</a></li>
    </ul>
  </div>