
.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 100vh; /* Establece la altura al 100% de la altura de la ventana */
  overflow-y: auto; /* Añade una barra de desplazamiento vertical si el contenido es demasiado largo */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fff;
  }
  .sidebar i {
    font-size: 24px;
    margin-right: 10px;
  }
  li{
    display: flex;
    justify-content: center;
    align-items: center;
    }