<div class="imagen-izquierda">
    <div class="login-container">
        <form action="">
            <label for="email">Correo Electronico:</label>
            <input type="email" name="email" id="email" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" id="password" required>
            <button type="submit">Aceptar</button>
        </form>
    </div>
    <p class="registrate"><a routerLink="/signin">Volver</a></p>
</div>
<div class="imagen-derecha">
    <p class="bienvenidos">Registrate</p>
</div>

