<div class="card rounded-5">
    <div class="mt-3 ms-3">
        <h5><b>Ultimas Transacciones</b></h5>
    </div>
    <div class="mt-4" *ngFor="let transaccion of transacciones">
        <table class="tabla">
            <tr>
                <td class="td-f">
                    <i class='bx bx-right-arrow-circle ms-3 p-3'></i>
                </td>
                <td class="td-w">
                    <p class="mb-1 mt-1"><b>{{ transaccion.nombre }}</b></p>
                    <p class="transferencia">Transferencia</p>
                </td>
                <td class="td-w"><b>${{ transaccion.monto }}</b></td>
                <td class="td-w">
                    <p class="mb-1 mt-1"><b>{{ transaccion.fecha }}</b></p>
                    <p class="transferencia">{{ transaccion.horario }}</p>
                </td>
                <td class="td-w"><b>{{ transaccion.estado }}</b></td>
                <td class="td-f">
                    <a routerLink="/private">・・・</a>
                </td>
            </tr>
        </table>
    </div>
</div>

